body {
  background:#fff;
  font-family: 'Ubuntu', sans-serif;
	background-size: 100% 110%;
}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.responsivePage{
    margin:0 auto;
    max-width:500px;
}
.header{
    margin: 5px;
    width: 100%;
    height: 55px;
    color: #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 200%;
}
.form-title{
    color: #000;
    text-align: center;
    font-size: 200%;
}
.mButton{
    float: left;
    width: 30px;
    height:36px;
    background: #fff;
    border: none;
    padding: 5px 5px;
    outline: none;
    cursor: pointer;

}
#controlPanel{
    visibility: hidden;
    position:fixed;
    top: 50px;/*set back to 50px*/
    width: 260px;
    background: #f1f1f1;
    opacity: 1; 
    transition: left 0.3s linear 0s;
    cursor: pointer;
    border: 2px solid black;
}  
.mButton > div{
    width: 30px;
    height: 6px;
    background: #333;
    margin: 4px 0px;
    border-radius: 4px;
}.mButton:hover div{
    background: #E86850;
}
#Container{
    width: 100%;
    align-content: center;
}
.route-form{
    padding-top: 10%;
    padding-bottom: 5%;
    margin: 5% auto;
    width: 80%;
    font-size: 120%;    
}
.form{
    border-spacing: 1em;
    float: left;
    width: 100%;
}
.route-form input[type="button"] {
  height:30px;
  width:100px;
  background:#fff;
  border:1px solid #adadad;
  border-radius:20px;
  color: slategrey;
  text-transform:uppercase;
  font-family: 'Ubuntu', sans-serif;
  cursor:pointer;
}
.submit-button {
    margin-bottom:10px;
    float: right;
  }
.clear-button {
    margin-bottom:10px;
    float: left;
  }
  table.menu{
    border: 1px;
    border-color: #333;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
table.menu td{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #000;
}