body {
  background:#fff;
  font-family: 'Ubuntu', sans-serif;
	background-size: 100% 110%;
}
h1, h2, h3, h4, h5, h6, a {
  margin:0; padding:0;
}
.responsivePage{
    margin:0 auto;
    max-width:500px;
}
.header{
    margin: 5px;
    width: 100%;
    height: 55px;
    color: #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 200%;
}
.mButton{
    float: left;
    width: 30px;
    height:36px;
    background: #fff;
    border: none;
    padding: 5px 5px;
    outline: none;
    cursor: pointer;

}
#controlPanel{
    visibility: hidden;
    position:fixed;
    top: 50px;/*set back to 50px*/
    width: 260px;
    background: #f1f1f1;
    opacity: 1; 
    transition: left 0.3s linear 0s;
    cursor: pointer;
    border: 2px solid black;
}  
.mButton > div{
    width: 30px;
    height: 6px;
    background: #333;
    margin: 4px 0px;
    border-radius: 4px;
}.mButton:hover div{
    background: #E86850;
}

/* Calendar styles */

#container{
    background: #bababa;
    text-align: center;
    height: 410px;
    width: 420px;
    margin: 200px auto;
}
#month{
    background: #E86850;
    color: white;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0 -1px 0 #878787;
    height: 50px;
    width: 420px;
}
#days{
    font-size: 20px;
    -webkit-box-shadow: 0 1px 0 #878787;
}
table.days{
}
table.days td{
    width: 60px;
    text-decoration: underline;
}
table.day td{
    color: #333;
    background: #f4f0f7;
    font-size: 15px;
    -webkit-box-shadow: 0 -1px 0 #fff;
    height: 60px;
    width: 60px;
}
table.day td.workout {
    border-bottom: 2px solid #E86850;

}
table.day td.off-month{
    color: #aaaaaa;
}
table.menu{
    border: 1px;
    border-color: #333;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
table.menu td{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #000;
}