       <div class="route-form">
           <div id="Container">
            <form>
                <table width="450px" class="form">
                    <tr>
                    <td><label for="name">Name: </label></td>
                    <td><input type="text" name="name" maxlength="50" size="30"></td>
                    </tr>
                    <tr>
                    <td><label for="distance">Distance: </label></td>
                    <td><input type="number" name="distance" maxlength="10"  size="10"></td>
                    <td>
                        <select name="metric">
                            <option value="Miles">Miles</option>
                            <option value="KM">Kilometers</option>
                        </select>
                    </td>
                    </tr>
                    <tr>
                    <td><label for="time">Initial Time:  </label></td>
                    <td><input type="time" name="time" placeholder="mins:sec.ms" pattern="^([0-5][0-9])(:[0-5][0-9])?$" class="inputs time" required>
                    </td>
                    </tr>
                    <tr>
                    <td><label for="terrain">Terrain: </label></td>
                    <td>
                        <select name="terrain-type">
                            <option value="road">Road</option>
                            <option value="offroad">Offroad</option>
                        </select>
                    </td>
                    </tr>
                     <tr>
                    <td><label for="type">Course Type: </label></td>
                    <td>
                        <select name="type">
                            <option value="flat">Flat</option>
                            <option value="slight-elev">Slight-Elev</option>
                            <option value="Elevated">Elevated</option>
                        </select>
                    </td>
                    </tr>
                     <tr>
                    <td><label for="diffculty">Course Type: </label></td>
                    <td>
                        <select name="level">
                            <option value="easy">Easy</option>
                            <option value="medium">Medium</option>
                            <option value="hard">Hard</option>
                        </select>
                    </td>
                    </tr>
                    <tr>
                    <td><label for="Record-Date">Record Date: </label></td>
                    <td><input type="date"></td>
                    </tr>
                    <tr>
                    <td><label for="comments">Comments: </label></td>
                    <td><input type="text" cols="40" rows="5" style="width: 200px;height: 50px"></td>
                    </tr>
                    </table>

                <a href="#/routes"> <input type="button" value="Submit" class="submit-button"/></a>
                    <input type="button" value="Clear" class="clear-button"/>
            </form> 
           </div> 
       </div>      



   
