

    <div>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

            <div id="Container">
                <table class="menu">
                    <tr>
                        <td>
                            <table class="inner">
                                <thead>
                                    <tr>
                                        <td>
                                            Distance:
                                        </td>
                                        <td>
                                            Time:
                                        </td>
                                        <td>
                                            Pace:
                                        </td>
                                        <td>
                                            Type:
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in workouts">
                                        <td>{{x.totalDistanceInMiles}} miles</td>
                                        <td>{{x.totalTime}}</td>
                                        <td>{{x.pacePerMile}}</td>
                                        <td>{{x.runTypeDescription}}</td>
                                    </tr>
                                </tbody>
                            </table> 
                        </td>
                    </tr>    
                    <tr>
                        <td><a href="#/custom_routes">Add Workout</a>  </td>
                    </tr>  
                </table>            
        </div>

    </div>
</div>
