body {
    background:#fff;
    font-family: 'Ubuntu', sans-serif;
    background-size: 100% 110%;
}
h1, h2, h3, h4, h5, h6, a {
    margin:0; padding:0;
}
.responsivePage{
    margin:0 auto;
    max-width:500px;
}
.header{
    margin: 5px;
    width: 100%;
    height: 55px;
    color: #000;
    border-bottom: 1px solid #000;
    text-align: center;
    font-size: 200%;
}
.mButton{
    float: left;
    width: 30px;
    height:36px;
    background: #fff;
    border: none;
    padding: 5px 5px;
    outline: none;
    cursor: pointer;
}
#controlPanel{
    visibility: hidden;
    position:fixed;
    top: 50px;/*set back to 50px*/
    width: 260px;
    background: #f1f1f1;
    opacity: 1;
    transition: left 0.3s linear 0s;
    cursor: pointer;
    border: 2px solid black;
}
.mButton > div{
    width: 30px;
    height: 6px;
    background: #333;
    margin: 4px 0px;
    border-radius: 4px;
}
.mButton:hover div{
    background: #E86850;
}
#Container{
    width: 100%;
    align-content: center;
}
table.menu{
    border: 1px;
    border-color: #333;
    width: 100%;
    text-align: center;
    font-size: 30px;
}
table.menu td{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid #000;
}
table.inner{
    text-align: center;
}
table.inner td{
    height: 100px;
    width: 100%;
    border-bottom: 0px solid #000;
}
.table_value{
    font-size: 20px;
}
.login {
    margin:0 auto;
    max-width:500px;
}
.login-header {
    color:#000;
    text-align:center;
    font-size:300%;
}
.login-form {
    border:.5px solid #fff;
    background:#fff;
    border-radius:10px;
    /*box-shadow:0px 0px 10px #000; */
}
.login-form h3 {
    text-align:left;
    margin-left:40px;
    color:#aaaaaa;
}
.login-form {
    box-sizing:border-box;
    padding-top:15px;
    padding-bottom:10%;
    margin:5% auto;
    text-align:center;
}
.login input[type="text"],
.login input[type="password"] {
    max-width:400px;
    width: 80%;
    line-height:3em;
    font-family: 'Ubuntu', sans-serif;
    margin:1em 2em;
    border-radius:5px;
    border:2px solid #adadad;
    outline:none;
    padding-left:10px;
}
.login-form input[type="button"] {
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #adadad;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}
.sign-up{
    color:#bababa;
    margin-left:-70%;
    cursor:pointer;
    text-decoration:underline;
}
.no-access {
    color:#E86850;
    margin:20px 0px 20px -57%;
    text-decoration:underline;
    cursor:pointer;
}
.try-again {
    color:#bababa;
    text-decoration:underline;
    cursor:pointer;
}
/*Media Querie*/
@media only screen and (min-width : 150px) and (max-width : 530px){
    .login-form h3 {
        text-align:center;
        margin:0;
    }
    .sign-up, .no-access {
        margin:10px 0;
    }
    .login-button {
        margin-bottom:10px;
    }

}
.form-title{
    color: #000;
    text-align: center;
    font-size: 200%;
}
.route-form{
    padding-top: 10%;
    padding-bottom: 5%;
    margin: 5% auto;
    width: 80%;
    font-size: 120%;
}
.form{
    border-spacing: 1em;
    float: left;
    width: 100%;
}
.route-form input[type="button"] {
    height:30px;
    width:100px;
    background:#fff;
    border:1px solid #adadad;
    border-radius:20px;
    color: slategrey;
    text-transform:uppercase;
    font-family: 'Ubuntu', sans-serif;
    cursor:pointer;
}
.submit-button {
    margin-bottom:10px;
    float: right;
}
.clear-button {
    margin-bottom:10px;
    float: left;
}
#container{
    background: #bababa;
    text-align: center;
    height: 410px;
    width: 420px;
    margin: 200px auto;
}
#month{
    background: #E86850;
    color: white;
    font-size: 24px;
    line-height: 50px;
    text-align: center;
    text-shadow: 0 -1px 0 #878787;
    height: 50px;
    width: 420px;
}
#days{
    font-size: 20px;
    -webkit-box-shadow: 0 1px 0 #878787;
}
table.days{
}
table.days td{
    width: 60px;
    text-decoration: underline;
}
table.day td{
    color: #333;
    background: #f4f0f7;
    font-size: 15px;
    -webkit-box-shadow: 0 -1px 0 #fff;
    height: 60px;
    width: 60px;
}
table.day td.workout {
    border-bottom: 2px solid #E86850;

}
table.day td.off-month{
    color: #aaaaaa;
}