<!DOCTYPE html>
<html lang="en" ng-app="running2win">
<head>
    <meta charset="UTF-8">
    <title>Running2Win</title>
    <script src="angular/angular.js"></script>
    <script src="angular/angular-route.min.js"></script>
    <script src="angular/angular-resource.min.js"></script>
    <link href = "Index.css" rel = "stylesheet"/>
    <script src="script.js"></script>
</head>
<body ng-controller="initController">
<script>
    function toggleCP() {
            var cp = document.getElementById('controlPanel');
            if (cp.style.opacity == 1) {
                cp.style.visibilty = "hidden";
                cp.style.opacity = 0;
            } else {
                cp.style.visibility = "visible"; // return it to active screen space
                cp.style.opacity = 1;
            }
        }

</script>
<div class="responsivePage">
<div class="header">
    <div class="mButton" onclick="toggleCP()";>
        <div ></div>
        <div ></div>
        <div ></div>
    </div>
    <h2>{{$root.name}}</h2>
    <div id="controlPanel">
        <table class="menu">
            <tr>
                <td><a ng-attr-href="{{($root.token!=null) ? '#calendar/4/2017': '#/'}}" onclick="toggleCP()">Running Log</a></td>
            </tr>
            <tr>
                <td><a ng-attr-href="{{($root.token!=null) ? '#tools': '#/'}}" onclick="toggleCP()">Tools</a></td>
            </tr>
            <tr>
                <td>Teams & Groups</td>
            </tr>
            <tr>
                <td>R-Mail</td>
            </tr>
            <tr>
                <td>Services</td>
            </tr>
        </table>
    </div>
</div>

<div ng-view></div>
    </div>
</body>
</html>