    <div>
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

        <div class="login">

        <div class="login-form">
            <h3>Username:</h3>
            <input type="text" placeholder="Username" ng-model="username"/><br>
            <h3>Password:</h3>
            <input type="password" placeholder="Password" ng-model="pass"/>
            <br>
            <input type="button" value="Login" ng-click="loginSubmit(username, pass)" class="login-button"/>
            <br>
            <a class="sign-up">Sign Up!</a>
            <br>
            <h6 class="no-access">Can't access your account?</h6>
            {{status}}
        </div>
        </div>



    </div>
