

        <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>

            <div id="container">
                <div id="month"> {{month}} </div>
                <div id="days">
                        <table class="days">
                            <tr>
                                <td>Sun</td>
                                <td>Mon</td>
                                <td>Tue</td>
                                <td>Wed</td>
                                <td>Thu</td>
                                <td>Fri</td>
                                <td>Sat</td>
                            </tr>
                        </table>
                </div>
                <table class="day">
                    <tr>
                        <td class="off-month">26</td>
                        <td class="off-month">27</td>
                        <td class="off-month">28</td>
                        <td class="off-month">29</td>
                        <td class="off-month">30</td>
                        <td class="off-month">31</td>
                        <td>1</td>
                     </tr>
                    <tr>
                        <td>2</td>
                        <td>3</td>
                        <td>4</td>
                        <td>5</td>
                        <td>6</td>
                        <td>7</td>
                        <td class="workout">8</td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>10</td>
                        <td class="workout">11</td>
                        <td>12</td>
                        <td>13</td>
                        <td>14</td>
                        <td class="workout">15</td>
                    </tr>
                    <tr>
                        <td>16</td>
                        <td>17</td>
                        <td>18</td>
                        <td>19</td>
                        <td>20</td>
                        <td>21</td>
                        <td class="workout">22</td>
                    </tr>
                    <tr>
                        <td>23</td>
                        <td>24</td>
                        <td class="workout">25</td>
                        <td>26</td>
                       <td class="workout"> <a href="#/workout/4/27/2017">27</a></td>
                        <td>28</td>
                        <td class="workout">29</td>
                    </tr>
                    <tr>
                        <td>30</td>
                        <td class="off-month">1</td>
                        <td class="off-month">2</td>
                        <td class="off-month">3</td>
                        <td class="off-month">4</td>
                        <td class="off-month">5</td>
                        <td class="off-month">6</td>
                    </tr>
                </table>
                </div>



