
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:500' rel='stylesheet' type='text/css'>
            <div id="Container">
                <table class="menu">
                    <tr>
                        <td>Workout Planner</td>
                    </tr>
                    <tr>
                        <td>Routes & Running Maps</td>
                    </tr>
                    <tr>
                        <td>Charts</td>
                    </tr>
                    <tr>
                        <td>Running Calculator</td>
                    </tr>
                    <tr>
                        <td>GPS File Import</td>
                    </tr>
                    <tr>
                        <td>Garmin Connect</td>
                    </tr>  
                    <tr>
                        <td>Flo Tracker Import</td>
                    </tr>     
                </table>            
        </div>